In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("car data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
df.shape

(301, 9)

In [5]:
#Check the missing values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
#study the details of the dataset
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [14]:
#find the age of the car
#2021 is the current year
df["Car_Age"] = 2021 - df["Year"]
df.head()

KeyError: 'Year'

In [9]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,7
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,8
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,4
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,10
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,7

In [10]:
#drop the year column
#drop carname columns too, since it isnt of any use for our prection
df.drop(["Car_Name", "Year"], axis=1, inplace=True)
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,7
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,8
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,4
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,10
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,7

In [6]:
#Print the unique values of all categorical features
print("Fuel Type:", df["Fuel_Type"].unique())
print("Seller Type:", df["Seller_Type"].unique())
print("Transmission:", df["Transmission"].unique())
print("Owner:", df["Owner"].unique())

Fuel Type: ['Petrol' 'Diesel' 'CNG']
Seller Type: ['Dealer' 'Individual']
Transmission: ['Manual' 'Automatic']
Owner: [0 1 3]

In [18]:
#Convert the categorica; features to dummy or indicator variables
df = pd.get_dummies(df, drop_first= True)
df.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,7,0,1,0,1
1,4.75,9.54,43000,0,8,1,0,0,1
2,7.25,9.85,6900,0,4,0,1,0,1
3,2.85,4.15,5200,0,10,0,1,0,1
4,4.60,6.87,42450,0,7,1,0,0,1

In [19]:
#find the correlation od the dataset variables
df.corr()

,Selling_Price,Present_Price,Kms_Driven,Owner,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
Selling_Price,1.000000,0.878983,0.029187,-0.088344,-0.236141,0.552339,-0.540571,-0.550724,-0.367128
Present_Price,0.878983,1.000000,0.203647,0.008057,0.047584,0.473306,-0.465244,-0.512030,-0.348715
Kms_Driven,0.029187,0.203647,1.000000,0.089216,0.524342,0.172515,-0.172874,-0.101419,-0.162510
Owner,-0.088344,0.008057,0.089216,1.000000,0.182104,-0.053469,0.055687,0.124269,-0.050316
Car_Age,-0.236141,0.047584,0.524342,0.182104,1.000000,-0.064315,0.059959,0.039896,-0.000394
Fuel_Type_Diesel,0.552339,0.473306,0.172515,-0.053469,-0.064315,1.000000,-0.979648,-0.350467,-0.098643
Fuel_Type_Petrol,-0.540571,-0.465244,-0.172874,0.055687,0.059959,-0.979648,1.000000,0.358321,0.091013
Seller_Type_Individual,-0.550724,-0.512030,-0.101419,0.124269,0.039896,-0.350467,0.358321,1.000000,0.063240
Transmission_Manual,-0.367128,-0.348715,-0.162510,-0.050316,-0.000394,-0.098643,0.091013,0.063240,1.000000

In [2]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from seaborn) (1.2.3)
Requirement already satisfied: numpy>=1.15 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from seaborn) (1.20.2)
Requirement already satisfied: scipy>=1.0 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from seaborn) (3.4.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: six in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\envs\carpredict\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

In [3]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
!conda install seaborn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 4.9.2
  latest version: 4.10.0

Please update conda by running

    $ conda update -n base conda

In [4]:
import sys
sys.path

['C:\\Users\\user\\Desktop\\PYTHON\\COMPLETED\\car price prediction',
 'c:\\program files\\python39\\python39.zip',
 'c:\\program files\\python39\\DLLs',
 'c:\\program files\\python39\\lib',
 'c:\\program files\\python39',
 '',
 'C:\\Users\\user\\AppData\\Roaming\\Python\\Python39\\site-packages',
 'C:\\Users\\user\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32',
 'C:\\Users\\user\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32\\lib',
 'C:\\Users\\user\\AppData\\Roaming\\Python\\Python39\\site-packages\\Pythonwin',
 'c:\\program files\\python39\\lib\\site-packages',
 'C:\\Users\\user\\AppData\\Roaming\\Python\\Python39\\site-packages\\IPython\\extensions',
 'C:\\Users\\user\\.ipython']